<script src='/public/js/items/auction.js' ></script>

<div class='row'>
	<div class='col-md-12'>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Item: {{Id}}</h3>
			</div>
			<div class="panel-body"> 
				<h4>{{Name}}</h4>
				<div class="row">
					<div class='col-md-12'>
					
					
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">Bids</h3>
      </div>
      <div class="panel-body">
	<div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager" style='height: 50px'></div>
	</div>
      </div>
    </div>
  </div>
</div>