<script src='/public/items-create.js'></script>
<div class='row'>
  <div class='col-md-12'>
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">Create New Item</h3>
      </div>
      <div class="panel-body">
	<div class='row'>
	  <div class='col-md-12'>
	    <form method='POST' url='/items'>
	      <div class='row'>
		<div class='col-md-3'>
		  Name
		  <input id='name' class='form-control' name='Name' placeholder='Item Name'/>
		</div>
		<div class='col-md-3'>
		  Category
		  <input id='category' class='form-control' name='Category' placeholder='Category'/>
		</div>
		<div class='col-md-2'>
		  Bid Start Price
		  <input id='start_price' class='form-control' name='Price' placeholder='Start Price'/>
		</div>
		<div class='col-md-2'>
		  Max Price (aka buy price)
		  <input id='max_price' class='form-control' name='Price' placeholder='Max Price'/>
		</div>
		<div class='col-md-2'>
		  Start Date
		  <input id='start_date' class='form-control' name='Start Date' placeholder='Start Date'/>
		</div>
	      </div>	      
	    </form>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
