<script src='/public/items-index.js' ></script>
<div class='row'>
  <div class='col-md-12'>
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">Search Items</h3>
      </div>
      <div class="panel-body">
	<div class='row'>
	  <div class='col-md-12'>
	    <div class='col-md-3'>
	      Name
	      <input id='name' class='form-control' name='Name' placeholder='search'/>
	    </div>
	    <div class='col-md-3'>
	      Category
	      <select id='category' class='form-control'>
		<option selected value>All</option>
		{{#categories}}
		<option value='{{Category}}'>{{Category}}</option>
		{{/categories}}
	      </select>
	    </div>
	    <div class='col-md-2'>
	      &nbsp;
	      <button id='search' class='btn btn-default btn-success form-control'>Search</button>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">Search Results</h3>
      </div>
      <div class="panel-body">
	<div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager" style='height: 50px'></div>
	</div>
      </div>
    </div>
  </div>
</div>
