<script src='/public/items-list.js'></script>
<div class='row'>
  <div class='col-md-12'>
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">Create New Item</h3>
      </div>
      <div class="panel-body">
	<div class='row'>
	  <div class='col-md-12'>
	    <form method='POST' url='/items'>
	      <!-- <input type='hidden' value='tyler@gmail.com' name='seller_email' id='seller_email' /> -->
	      <!-- <div class='row'> -->
	      <!-- 	<div class='col-md-3'> -->
	      <!-- 	  Name -->
	      <!-- 	  <input id='name' class='form-control' name='name' placeholder='Item Name'/> -->
	      <!-- 	</div> -->
	      <!-- 	<div class='col-md-3'> -->
	      <!-- 	  Category -->
	      <!-- 	  <input id='category' class='form-control' name='category' placeholder='Category'/> -->
	      <!-- 	</div> -->
	      <!-- 	<div class='col-md-2'> -->
	      <!-- 	  Bid Start Price -->
	      <!-- 	  <input id='start_price' class='form-control' name='start_price' placeholder='Start Price'/> -->
	      <!-- 	</div> -->
	      <!-- 	<div class='col-md-2'> -->
	      <!-- 	  Max Price (aka buy price) -->
	      <!-- 	  <input id='max_price' class='form-control' name='max_price' placeholder='Max Price'/> -->
	      <!-- 	</div> -->
	      <!-- 	<div class='col-md-2'> -->
	      <!-- 	  Start Date -->
	      <!-- 	  <input id='end_date' class='form-control' name='end_date' placeholder='Auction End Date'/> -->
	      <!-- 	</div> -->
	      <!-- </div> -->
	      <!-- <div class='row'> -->
	      <!-- 	&nbsp; -->
	      <!-- </div> -->
	      <!-- <div class='row'> -->
	      <!-- 	<div class='col-md-12'> -->
	      <!-- 	  <div class='col-md-3'> -->
	      <!-- 	    <input type='submit' class='btn btn-success' title='Save' /> -->
	      <!-- 	  </div> -->
	      <!-- 	</div> -->
	      <!-- </div> -->
	      <div>
		<table id="jqGrid"></table>
		<div id="jqGridPager" style='height: 50px'></div>
	      </div>
	    </form>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
