<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/public/sockets.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" >
    <!-- The jQuery library is a prerequisite for all jqSuite products -->
    <script type="text/ecmascript" src="/public/js/jquery.min.js"></script>
    <!-- We support more than 40 localizations -->
    <script type="text/ecmascript" src="/public/js/i18n/grid.locale-en.js"></script>
    <!-- This is the Javascript file of jqGrid -->
    <script type="text/ecmascript" src="/public/js/jquery.jqGrid.min.js"></script>

    <!-- The link to the CSS that the grid needs -->
    <link rel="stylesheet" type="text/css" media="screen" href="/public/css/ui.jqgrid-bootstrap.css" />
    <script>
      $.jgrid.defaults.width = 780;
      $.jgrid.defaults.height = 300;
      $.jgrid.defaults.responsive = true;
      $.jgrid.defaults.styleUI = 'Bootstrap';
      </script>
  </head>
  <body>
    <div class='container-fluid'>
      <div class='row'>
	<div class='col-md-12'>
	  <div class="page-header">
	    <h1>Ebay.js <small>Where you can find any item you want!</small></h1>
	  </div>
	</div>
      </div>

      <div class='row'>
	<div class='col-md-2'>
	  <div class="list-group">
	    <a href="/" class="list-group-item">
	      All Items
	    </a>
	    <a href="/bids" class="list-group-item">My Bids</a>
	    <a href="/items/list" class="list-group-item">My Items</a>
	    <a href="/users" class="list-group-item">View Users</a>
	  </div>
	</div>
	<div class='col-md-10'>
	  {{{content}}}
	</div>
      </div>
    </div>

    <script>
      $(function() {
	  const parts = window.location.pathname.split('/');
	  const path = parts.length > 1 ? parts[1] : '/';
	  $(`a.list-group-item[href='/${path}']`).addClass('active');
      });
    </script>
  </Body>
</html>
